{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 * - html_attributes: Raw HTML attributes for the <html> tag.
 *   Contains langcode and text direction.
 *
 * @see template_preprocess_html()
 */
#}
{%
set body_classes = [
logged_in ? 'user-logged-in' : 'user-not-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'node--type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
<html{{ html_attributes }} class="no-js">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PNHLW2B');</script>
    <!-- End Google Tag Manager -->
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
      <!-- Primary Meta Tags -->
      <title>Home | MKB interieur</title>
      <meta name="title" content="Home | MKB interieur">
      <meta name="description" content="Sterk maatwerk, enorm veel keuzemogelijkheden en een persoonlijke aanpak. Dat is hoe MKB zich onderscheidt. Van onze keukens en interieurs vind je er geen twee. Elk stuk wordt volledig gemaakt volgens jouw wensen. Trendy, minimalistisch of landelijk.">

      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://mkb-interieur.be/">
      <meta property="og:title" content="Home | MKB interieur">
      <meta property="og:description" content="Sterk maatwerk, enorm veel keuzemogelijkheden en een persoonlijke aanpak. Dat is hoe MKB zich onderscheidt. Van onze keukens en interieurs vind je er geen twee. Elk stuk wordt volledig gemaakt volgens jouw wensen. Trendy, minimalistisch of landelijk.">
      <meta property="og:image" content="/themes/base/images/metamkb.png">
    {% include '@base/includes/favicons.html.twig' %}
  </head>
  <body{{ attributes.addClass(body_classes) }}>
  {% include '@base/includes/third-party-body-scripts.html.twig' %}
    <!-- Google Tag Manager (noscript)
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNHLW2B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    End Google Tag Manager (noscript) -->
  <a href="#main-content" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
  </a>
  {{ page_top }}
  {{ page }}
  {{ page_bottom }}
  <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
