<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="101938392053022"
  theme_color="#000000"
  greeting_dialog_display="hide"
  logged_in_greeting="Heb je vragen? Stuur gerust een berichtje!"
  logged_out_greeting="Heb je vragen? Stuur gerust een berichtje!">
</div>
