{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="170px" height="75px" viewBox="0 0 170 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <polygon id="path-1" points="0 0 8.51065701 0 8.51065701 10.6562685 0 10.6562685"></polygon>
      </defs>
      <g id="MBK" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-32">
          <path d="M58.2763122,50.0728359 L58.2763122,17.590254 L67.2066783,17.590254 L75.6410246,29.4338816 L84.0291827,17.590254 L92.8711891,17.590254 L92.8711891,50.0728359 L83.5793509,50.0728359 L83.5793509,39.483686 C83.5793509,36.9267888 83.625539,34.1002189 83.6697189,31.8589387 L83.5793509,31.8109969 C82.2258392,33.8764904 80.7377795,35.9859306 79.295908,38.0494265 L75.4141005,43.5227845 L71.4921295,38.0494265 C70.0040698,35.9859306 68.5601901,33.8764904 67.2066783,31.8109969 L67.1183185,31.8589387 C67.1624984,34.1002189 67.2066783,36.9267888 67.2066783,39.483686 L67.2066783,50.0728359 L58.2763122,50.0728359 Z" id="Fill-1" fill="#FFFFFE"></path>
          <polygon id="Fill-3" fill="#FFFFFE" points="104.324228 17.590254 113.616066 17.590254 113.616066 31.6771593 113.704426 31.7231036 123.13282 17.590254 134.047266 17.590254 123.269376 32.6639618 134.948938 50.0728359 123.67302 50.0728359 113.704426 34.1461632 113.616066 34.1901098 113.616066 50.0728359 104.324228 50.0728359"></polygon>
          <path d="M142.976025,17.590254 L153.079167,17.590254 C158.26629,17.590254 161.469334,18.1735462 163.724517,19.4280238 C166.070069,20.7304433 167.646488,22.8398835 167.646488,25.7543468 C167.646488,28.8066427 165.887325,30.7802478 162.686289,31.9927763 L162.686289,32.0806697 C167.240836,33.6068177 169,36.4793318 169,40.0669782 C169,43.8364039 167.0601,46.7508672 163.316857,48.4128504 C160.836758,49.5334904 157.543346,50.0728359 153.575187,50.0728359 L142.976025,50.0728359 L142.976025,17.590254 Z M154.251943,30.5565193 C157.049335,30.5565193 158.356658,29.7035543 158.356658,27.7299493 C158.356658,26.6992002 157.995186,25.9341286 157.001138,25.4407273 C156.326391,25.0831612 155.290171,24.9493237 153.350271,24.9493237 L152.267864,24.9493237 L152.267864,30.5565193 L154.251943,30.5565193 Z M153.621375,42.7137663 C156.282211,42.7137663 157.635723,42.4920353 158.400838,42.0865274 C159.30251,41.5911286 159.71017,40.7861055 159.71017,39.6195212 C159.71017,37.4201901 158.175922,36.4793318 155.197795,36.4793318 L152.267864,36.4793318 L152.267864,42.7137663 L153.621375,42.7137663 Z" id="Fill-4" fill="#FFFFFE"></path>
          <path d="M41.7339485,0 L36.8761667,4.83413371 L20.8669743,20.7568113 L4.85978999,4.83413371 L0,0 L0,6.83570478 L0,41.5136227 L0,45.2071405 L0,48.351325 L0,50.0432718 L4.85978999,50.0432718 L30.8917972,50.0432718 L36.8761667,50.0432718 L37.7637813,50.0432718 L41.7339485,50.0432718 L41.7339485,45.2071405 L41.7339485,6.83570478 L41.7339485,0 Z M18.0314274,30.4130933 L20.8669743,27.5925161 L24.3029663,24.1746637 L36.8761667,11.6698385 L36.8761667,45.2071405 L32.9059995,45.2071405 L18.0314274,30.4130933 Z M4.85978999,11.6698385 L17.4309823,24.1746637 L14.5954354,26.9952409 L11.1594434,30.4130933 L4.85978999,36.6794889 L4.85978999,11.6698385 Z M4.85978999,43.5171913 L14.5954354,33.8309457 L26.0320073,45.2071405 L4.85978999,45.2071405 L4.85978999,43.5171913 Z" id="Fill-6" fill="#FFFFFE"></path>
          <path d="M73.3617429,72.507611 C73.3617429,73.3006487 72.7151097,73.9438681 71.9178632,73.9438681 C71.1206166,73.9438681 70.4719752,73.3006487 70.4719752,72.507611 C70.4719752,71.7145734 71.1206166,71.071354 71.9178632,71.071354 C72.7151097,71.071354 73.3617429,71.7145734 73.3617429,72.507611" id="Fill-7" fill="#FFFFFE"></path>
          <polygon id="Fill-9" fill="#FFFFFE" points="6.01870932 63.3137679 1.4139579 68.0839792 1.38383524 68.0679986 1.38383524 63.3137679 0.000200817768 63.3137679 0.000200817768 73.8090317 1.38383524 73.8090317 1.38383524 68.4015937 1.4139579 68.3876107 6.34001775 73.8090317 8.14737766 73.8090317 3.00242645 68.183858 7.7397176 63.3137679"></polygon>
          <polygon id="Fill-10" fill="#FFFFFE" points="11.3196959 63.3137679 11.3196959 73.8090317 17.5430386 73.8090317 17.5430386 72.5625444 12.7033304 72.5625444 12.7033304 68.9509271 16.8281273 68.9509271 16.8281273 67.7483864 12.7033304 67.7483864 12.7033304 64.5602553 17.412507 64.5602553 17.412507 63.3137679"></polygon>
          <path d="M21.4164117,68.8658304 L21.4164117,63.3125693 L22.8000461,63.3125693 L22.8000461,68.7200073 C22.8000461,70.0104414 22.8884059,70.8234548 23.2097144,71.4327154 C23.5731945,72.1138888 24.3302775,72.6931858 25.7159201,72.6931858 C26.9971375,72.6931858 27.7843431,72.1997846 28.1920032,71.4327154 C28.5273688,70.8074742 28.5876142,69.9664947 28.5876142,68.777937 L28.5876142,63.3125693 L29.9270687,63.3125693 L29.9270687,68.7060243 C29.9270687,70.2281772 29.8407171,71.4027518 29.2282229,72.329627 C28.5574915,73.3463932 27.2903314,73.9696368 25.6576829,73.9696368 C24.0109772,73.9696368 22.7719316,73.3304126 22.1152575,72.329627 C21.5027633,71.3887688 21.4164117,70.1702475 21.4164117,68.8658304" id="Fill-11" fill="#FFFFFE"></path>
          <polygon id="Fill-13" fill="#FFFFFE" points="40.3730065 63.3137679 35.7682551 68.0839792 35.7361243 68.0679986 35.7361243 63.3137679 34.3524898 63.3137679 34.3524898 73.8090317 35.7361243 73.8090317 35.7361243 68.4015937 35.7682551 68.3876107 40.6923068 73.8090317 42.4996667 73.8090317 37.3547155 68.183858 42.0920066 63.3137679"></polygon>
          <polygon id="Fill-14" fill="#FFFFFE" points="45.6721858 63.3137679 45.6721858 73.8090317 51.8955284 73.8090317 51.8955284 72.5625444 47.0558202 72.5625444 47.0558202 68.9509271 51.1806172 68.9509271 51.1806172 67.7483864 47.0558202 67.7483864 47.0558202 64.5602553 51.7649969 64.5602553 51.7649969 63.3137679"></polygon>
          <path d="M55.8849742,73.8092315 L55.8849742,63.3119701 L57.1963142,63.3119701 L61.6122969,69.1408966 C62.2247911,69.9379294 62.8372853,70.7649258 63.4337141,71.5899247 L63.4638368,71.5759416 C63.4477713,70.6630494 63.4337141,69.6043342 63.4337141,68.5895656 L63.4337141,63.3119701 L64.7751768,63.3119701 L64.7751768,73.8092315 L63.4638368,73.8092315 L59.047854,67.9823026 C58.4353598,67.1832722 57.8228657,66.3582733 57.2264369,65.5312769 L57.1963142,65.5452599 C57.2103715,66.4581521 57.2264369,67.5168674 57.2264369,68.5316359 L57.2264369,73.8092315 L55.8849742,73.8092315 Z" id="Fill-15" fill="#FFFFFE"></path>
          <polygon id="Fill-17" fill="#FFFFFE" points="79.5621923 73.8401939 80.9458267 73.8401939 80.9458267 63.3449301 79.5621923 63.3449301"></polygon>
          <path d="M85.492341,73.8403937 L85.492341,63.3431323 L86.803681,63.3431323 L91.2196637,69.1720588 C91.8321579,69.9690916 92.4446521,70.796088 93.0410809,71.6210868 L93.0712036,71.6071038 C93.0551381,70.6942116 93.0410809,69.6354964 93.0410809,68.6207278 L93.0410809,63.3431323 L94.3825436,63.3431323 L94.3825436,73.8403937 L93.0712036,73.8403937 L88.6552208,68.0114672 C88.0427267,67.2144344 87.4302325,66.3894355 86.8338037,65.5624391 L86.803681,65.5764221 C86.8177383,66.4893143 86.8338037,67.5480296 86.8338037,68.5627981 L86.8338037,73.8403937 L85.492341,73.8403937 Z" id="Fill-18" fill="#FFFFFE"></path>
          <polygon id="Fill-20" fill="#FFFFFE" points="98.0350172 63.3443308 98.0350172 64.5928157 101.575434 64.5928157 101.575434 73.8395947 102.959069 73.8395947 102.959069 64.5928157 106.503502 64.5928157 106.503502 63.3443308"></polygon>
          <polygon id="Fill-21" fill="#FFFFFE" points="110.155173 63.3443308 110.155173 73.8395947 116.378515 73.8395947 116.378515 72.5951049 111.538807 72.5951049 111.538807 68.9834876 115.663604 68.9834876 115.663604 67.7789493 111.538807 67.7789493 111.538807 64.5928157 116.247984 64.5928157 116.247984 63.3443308"></polygon>
          <path d="M120.368965,63.344131 L123.224594,63.344131 C124.288928,63.344131 125.309082,63.3880777 126.168582,63.8654984 C127.044148,64.3449166 127.626519,65.1559324 127.626519,66.316524 C127.626519,67.447152 127.072262,68.3021145 126.270999,68.7815327 C125.893462,69.0132515 125.497851,69.1430939 125.062076,69.2150067 L128.441839,73.8413925 L126.767019,73.8413925 L123.545902,69.3468467 L121.7526,69.3468467 L121.7526,73.8413925 L120.368965,73.8413925 L120.368965,63.344131 Z M123.545902,68.2162187 C124.479705,68.2162187 125.134371,68.1003593 125.614325,67.7368005 C126.009936,67.447152 126.242885,67.0116804 126.242885,66.4323834 C126.242885,65.765193 125.935634,65.2438257 125.381377,64.9381966 C124.813062,64.6345651 124.144339,64.5906184 123.122177,64.5906184 L121.7526,64.5906184 L121.7526,68.2162187 L123.545902,68.2162187 Z" id="Fill-22" fill="#FFFFFE"></path>
          <polygon id="Fill-24" fill="#FFFFFE" points="131.965589 73.8401939 133.349223 73.8401939 133.349223 63.3449301 131.965589 63.3449301"></polygon>
          <polygon id="Fill-25" fill="#FFFFFE" points="137.894533 63.3443308 137.894533 73.8395947 144.117875 73.8395947 144.117875 72.5951049 139.278167 72.5951049 139.278167 68.9834876 143.402964 68.9834876 143.402964 67.7789493 139.278167 67.7789493 139.278167 64.5928157 143.985336 64.5928157 143.985336 63.3443308"></polygon>
          <g id="Group-31" transform="translate(147.989843, 63.343732)">
            <g id="Group-28" transform="translate(0.000000, 0.000000)">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <g id="Clip-27"></g>
              <path d="M0,5.55326104 L0,0 L1.38363442,0 L1.38363442,5.407438 C1.38363442,6.69787204 1.47199424,7.51088544 1.79330267,8.12014609 C2.15678283,8.80131948 2.91386581,9.3806165 4.29950841,9.3806165 C5.58072577,9.3806165 6.36793142,8.88721524 6.77559149,8.12014609 C7.11095716,7.49490483 7.17120249,6.65392537 7.17120249,5.4653677 L7.17120249,0 L8.51065701,0 L8.51065701,5.39345497 C8.51065701,6.91560782 8.42430537,8.09018245 7.81181117,9.01705768 C7.14107983,10.0318262 5.87391971,10.6570675 4.24127126,10.6570675 C2.59456556,10.6570675 1.35551993,10.0178432 0.698845833,9.01705768 C0.0863516402,8.07619942 0,6.85767811 0,5.55326104" id="Fill-26" fill="#FFFFFE" mask="url(#mask-2)"></path>
            </g>
            <path d="M12.9368814,0.000399515183 L15.7925101,0.000399515183 C16.8568443,0.000399515183 17.8769985,0.0443461853 18.7364986,0.521766829 C19.612064,1.00118505 20.1944356,1.81220087 20.1944356,2.97279248 C20.1944356,4.10342044 19.6401785,4.95838294 18.8389156,5.43780115 C18.4613782,5.66951996 18.0657672,5.7993624 17.6299927,5.87127513 L21.0097557,10.4976609 L19.3349355,10.4976609 L16.1138185,6.00311514 L14.3205159,6.00311514 L14.3205159,10.4976609 L12.9368814,10.4976609 L12.9368814,0.000399515183 Z M16.1138185,4.87248717 C17.0476211,4.87248717 17.7022871,4.75662777 18.1822415,4.39306895 C18.5778525,4.10342044 18.8108011,3.66794889 18.8108011,3.08865188 C18.8108011,2.42146152 18.50355,1.90009421 17.9492929,1.5944651 C17.3809786,1.29083356 16.7122555,1.24688689 15.690093,1.24688689 L14.3205159,1.24688689 L14.3205159,4.87248717 L16.1138185,4.87248717 Z" id="Fill-29" fill="#FFFFFE"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
