// Non-modular or client styles for .l-footer region.
footer#footer {
  @include flex-grid-row();
  flex-direction: column;
  align-items: center;
  padding: 0px;
  max-width: 1900px!important;
  //margin-top: 75px;
  @include breakpoint(mediumplus){
    //margin-top: 150px;
  }
  @include breakpoint(xlarge){
    //margin-top: 190px;
  }
  .region {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }

}



.block-base-footer {
  @include breakpoint(mediumplus){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  >span{
    font-weight: 300;
    font-size: 14px;
    color: #757575;
    letter-spacing: 1.05px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include breakpoint(mediumplus){
      padding-bottom: 40px;
      padding-top: 40px;
    }
    a{
      font-weight: 300;
      font-size: 14px;
      color: #757575;
      letter-spacing: 1.05px;
      line-height: 25px;
      transition: 0.3s ease;
      &:hover{
        color: white;
      }
    }
  }
  ul.menu {
      justify-content: center;
      flex-direction: row;
    @include breakpoint(medium){
      justify-content: flex-start;
    }
    &>li {
      a, &>span {
        text-transform: lowercase;
        display: block;
        font-weight: 300;
        font-size: 14px;
        color: #757575;
        letter-spacing: 1.05px;
        line-height: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: 0.3s ease;
        text-align: center;
        @include breakpoint(medium){
          text-align: left;
          padding-top: 40px;
          padding-bottom: 40px;
        }
        &:hover, &:focus {
          color: $primary-color;
        }

        position: relative;
        &::after{
          content:'-';
          position: absolute;
          right: 9px;
        }
          padding-left: 0;
        @include breakpoint(xlarge) {
          padding-left: 1rem;
        }
        @include breakpoint(xlarge) {
          &:first-of-type{
            padding-left: 0;
          }
        }
      }
      &>span {
        cursor: pointer;
      }
    }
  }
}

.region-footer-middle {
  max-width: 1900Px!important;
  .inner-footer{
    max-width: 1250px;
    margin:0 auto;
    padding: 35px;
    @include breakpoint(medium){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include breakpoint(large){
      padding-left: 105px;
      padding-right: 215px;
      padding-top: 165px;
      padding-bottom: 130px;
    }
  }
  background-image: url('../images/foot.png');
  background-size: cover;
  background-repeat: no-repeat;

  .block-sitebranding{
    margin-bottom: 85px;
    @include breakpoint(medium){
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .contact-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include breakpoint(medium){
      justify-content: flex-end;
    }
  }
}

.region-footer-last{
  @include wrapper-padding();
  max-width: 1250px;
  margin: 0 auto;
  @include breakpoint(large){
    padding-left: 105px;
    padding-right: 215px;
  }

}

#block-footertext{
  .field-name-field-company-name{
    .field-item{
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 25px;
    }
  }
  .field-name-field-branches{
    margin-top: 20px;
    p,span,a,.field-item{
      font-weight: 300;
      font-size: 16px;
      transition: 0.3s ease;
      color: #757575;
      letter-spacing: 0;
      line-height: 25px;
    }
    a:hover{
      color: white;
    }
  }
  .body{
    margin-top: 55px;
    a{
      font-weight: 800;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.65px;
      line-height: 18px;
      position: relative;
      //padding-right: 95px;
      display: block;
      max-width: 240px;
      margin-left: 0;
      margin-right: auto;
      transition: 0.3s ease;
      @include breakpoint(medium){
        margin-left: auto;
        margin-right: -13px;
      }
      &:hover{
        letter-spacing: 1.5px;
      }
      &::after{
        content:"";
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='51px' height='28px' viewBox='0 0 51 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1 Copy%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1-Copy' fill='%23FFFFFF' points='36.9051643 0 35.5774648 1.32769953 47.3107981 13.0610329 0 13.0610329 0 14.9389671 47.3107981 14.9389671 35.5774648 26.6723005 36.9051643 28 50.9051643 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
        width: 51px;
        height: 28px;
        background-size: cover;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.section-contact{
  #block-footertext{
    .body{
      display: none!important;
    }
  }
}
.section-privacy-policy,.section-cookie-policy,.section-disclaimer{
h1{
  max-width: 100%!important;
}
}
