// Non-modular or client styles for .l-header region.
#header-wrapper {
  z-index: 8;
  header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  @include breakpoint(large) {
    padding: 35px;
  }
  @include breakpoint(xxlarge){
    padding: 35px 0px;
  }
}


.block-base-main-menu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
}


.off-canvas-wrapper {
  ul.menu {
    &>li {
      &>a {
        text-transform: lowercase;
        font-weight: 300;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0.58px;
        transition: color .25s ease-out;
        background: transparent;
        padding-left: 25px;
        padding-right: 25px;
        &>span {
          position: relative;
          &:after {
            content: '';
            display: block;
            opacity: 0;
            transition: 0.3s ease;
            background-color: $body-font-color;
            height: 1px; width: 100%;
            position: absolute;
            bottom: -3px; left: 0;
          }
        }
        &.is-active {
          &>span {
            &:after {
              opacity: 1;
            }
          }
        }
        &:hover, &:focus {
          &>span {
            &:after {
              opacity: 1;
            }
          }
        }
      }
      &:first-of-type{
        a{
          padding-left: 0px;
        }
      }
      &:last-of-type{
        a{
          padding-right: 0px;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}


#block-base-local-tasks{
  z-index: 10;
  position: relative;
}

#header-wrapper{
  #header-wrapper{
    display: block;
    position: fixed;
    width: 100%;
    top: -400px;
    background-color: #0F0F0F;
    opacity: 0;
    transition: 0.3s ease;
  }
}
.fixed-header-now{
  #header-wrapper {
    #header-wrapper {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
}

.block-sticky{
  display: none;
  @include breakpoint(xlarge){
    display: block;
  }
  a{
    text-transform: uppercase;
    border: solid 2px white;
    border-top: solid 0px white;
    padding: 5px 15px;
    position: fixed;
    top: 400px;
    bottom: 0;
    right: -71px;
    background-color: black;
    left: auto;
    display: block;
    z-index: 22;
    transform: rotate(90deg);
    max-height: 37Px;
    transition: 0.3s ease;
    &:hover{
      color: black;
      background-color: white;
    }
  }
}
