// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  .linkicon__text {
    display: none;
  }
}

::-moz-selection {
  color: $black;
  background-color: $primary-color;
}

::selection {
  color: $black;
  background-color: $primary-color;
}

// FORM

.js-form-item {
  margin-bottom: 15px;

  input {
    margin-bottom: 0;
    &:focus,&:hover{
      background-color: white;
      color: black;
    }
  }

  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}

.js-form-type-checkbox,
.eu-cookie-compliance-category > div {
  display: flex;
  align-items: flex-start;

  input {
    margin-top: 7px;
    display: none;

    &+label {
      display: -webkit-inline-box;
      margin-left: 0px;

      &:before {
        content: "";
        width: 25px;
        height: 25px;
        border: 2px solid #6F6F6F;
        display: block;
        margin-right: 10px;
        margin-top: 5px;
        background-color: #333333;
        border-radius: 5px;
      }
    }

    &:checked {
      &+label {
        &:before {
          background: url("icons/checked.svg") no-repeat center center;
        }
      }
    }
  }
}

.user-not-logged-in.path-user {
  .block-system-main-block {
    @include grid-row();
  }
  .user-login-form {
    @include grid-column-gutter();
  }
}

button.eu-cookie-withdraw-tab {
  display: none !important;
}

.block-base-local-tasks {
  @include grid-row();
  @include grid-column-gutter();
}

.block-system-breadcrumb-block {
  @include grid-row();
  @include grid-column-gutter();
}

.region-highlighted {
  @include wrapper-padding;
  .callout {
    @include grid-row;
  }
}

.webform-submission-form{
  input{
    background-color: white;
    color: black;
  }
}
