// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin wrapper-padding($mobile-padding: true){
  @if $mobile-padding {
    @include grid-column-gutter(70px);
  }
  @include breakpoint(mediumplus){
    @include grid-column-gutter(70px);
  }
}
