.block.contact-data.full {
  /* if 1 branch, main contact data and contact data from branch should be in rows */
    &.single-branch {
      display: flex;
    }
  /* end if 1 branch*/
  p {
    margin-bottom: 0;
  }
}

.paragraph--type--branch {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 575px;
    width: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}
