.home.full {
  header{
    margin-bottom: 35px;
    @include breakpoint(mediumplus){
      margin-bottom: 80px;
    }

  h1 {
    font-weight: 800;
    font-size: 120px;
    color: #FFFFFF;
    letter-spacing: 8.58px;
    line-height: 200px;
    margin-bottom: 0;
    text-align: left;
    margin-left: -5px;

    @include breakpoint(mediumplus){
      font-size: 236px;
      text-align: left;
    }
    @include breakpoint(large){
      height: max-content;
      align-self: center;
    }
    @include breakpoint(xxlarge){
      padding-right: 83px;
    }
  }
  h2 {
    font-weight: 300;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 0.96px;
    line-height: 36px;
    @include breakpoint(large){
      height: max-content;
      max-width: 510px;
      font-size: 52px;
      line-height: 66px;
      align-self: center;
    }
  }
  .body {
    max-width: $max-container;
    margin: 0 auto;
    padding: 0px 35px;
    @include breakpoint(medium){
      margin-top: 35px;
    }
    @include breakpoint(xlarge){
      padding: 0px;
    }
    .field-item {
      max-width: 710px;
      p {
        font-weight: 300;
        font-size: 23px;
        color: #CCC;
        letter-spacing: 0.81px;
        line-height: 34px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  }
}
