#sitewide-alert {
  @include wrapper-padding;
  background-color: $white;
}

.sitewide-alert {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: black;
    a{
      color: black;
      text-decoration: underline;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .close {
    width: 48px;
    margin-left: 8px;
    cursor: pointer;
  }
}
