.page.full {
  header {
    figure {
      position: relative;
      background-size: cover!important;
      &::after{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(15,15,15,0.5);
        position: absolute;
        display: block;
        top: 0;left: 0;
      }
      &::before{
        content: "";
        width: 100%;
        background-image: linear-gradient(180deg, rgba(15,15,15,0.00) 0%, rgba(15,15,15,0.04) 0%, rgba(15,15,15,0.80) 37%, #0F0F0F 69%);
        height: 200px;
        display: block;
        position: absolute;
        bottom: 0px;
        @include breakpoint(mediumplus){
          height: 454px;
        }
      }
      @include breakpoint(mediumplus){
        height: 100vh;
        width: 100vw;
        max-width: 1900px;
        margin: 0 auto;
        margin-top: -151px;
      }
      figcaption {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1250px;
        margin: 0 auto;
        z-index: 5;
        position: relative;
        padding: 0px 35px;
        min-height: 275px;
        @include breakpoint(xxlarge){
          padding: 0px;
        }
        h1{
          font-weight: 800;
          color: #FFFFFF;
          letter-spacing: 8.58px;
          font-size: 32px;
          line-height: 56px;
          text-transform: uppercase;
          text-align: center;
          @include breakpoint(mediumplus){
            font-size: 95px;
            max-width: 810px;
            line-height: 200px;
            margin-left: -12px;
            word-break: break-word;
            text-align: left;
          }
        }
        @include breakpoint(medium){
          margin-bottom: 50px;
        }
        @include breakpoint(large){
          margin-bottom: 80px;
        }
      }
    }
  }
}

.realisation.full{
  header{
    margin-bottom: 50px;
    .upper-wrapper{
      max-width: 180px;
    }
    .lower-wrapper{
      margin-top: 35px;
      @include breakpoint(mediumplus){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 70px;
      }
      @include breakpoint(xlarge){
        margin-top: 130px;
      }
      .lower-left{
        @include breakpoint(mediumplus){
          width: 50%;
        }
      }
      .lower-right{
        @include breakpoint(mediumplus){
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }
    figure{
      position: relative;
      background-size: cover!important;
      &::after{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(15,15,15,0.5);
        position: absolute;
        display: block;
        top: 0;left: 0;
      }
      &::before{
        content: "";
        width: 100%;
        background-image: linear-gradient(180deg, rgba(15,15,15,0.00) 0%, rgba(15,15,15,0.04) 0%, rgba(15,15,15,0.80) 37%, #0F0F0F 69%);
        height: 200px;
        display: block;
        position: absolute;
        bottom: 0px;
        @include breakpoint(mediumplus){
          height: 454px;
        }
      }
      @include breakpoint(mediumplus){
        height: 100vh;
        width: 100vw;
        max-width: 1440px;
        margin: 0 auto;
        margin-top: -151px;
      }
    }
    figcaption{
      max-width: $max-container;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 5;
      position: relative;
      padding: 35px;
      @include breakpoint(xxlarge){
        padding: 0px;
      }
    }
    h1{
      font-weight: 800;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0.87px;
      line-height: 29px;
      text-transform: uppercase;
    }
    .body{
      font-weight: 300;
      font-size: 16px;
      color: white;
      letter-spacing: 0;
      line-height: 25px;
      p{
        margin-bottom: 20px;
      }
      @include breakpoint(xlarge){
        padding-left: 110px;
        color: #757575;
        position: relative;

        &::before{
          content: "";
          height: 94px;
          width: 1px;
          background-color: white;
          position: absolute;
          left: 30px;
          top: 0;
        }
      }
    }
    .field-name-field-location{
      margin-bottom: 25px;
      .field-item{
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0.58px;
        line-height: 20px;
        text-transform: uppercase;
        background-color: white;
        display: inline-block;
        padding: 7px;
      }
    }

    .field-name-field-materials{
      @include breakpoint(large){
        margin-bottom: 50px;
      }
      .field-label{
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 25px;
        margin-bottom: 10px;
        @include breakpoint(mediumplus){
          margin-bottom: 25px;
        }
      }
      .field-item{
        font-weight: 300;
        font-size: 16px;
        color: #757575;
        letter-spacing: 0;
        line-height: 25px;
        margin-bottom: 10px;
        &:last-of-type{
          margin-bottom:0px ;
        }
        @include breakpoint(mediumplus){
          margin-bottom: 20px;
          &:last-of-type{
            margin-bottom:0px ;
          }
        }
      }
    }
  }
  .field-name-field-images{
    @include wrapper-padding();
  max-width: $max-container;
    margin: 0 auto;
    @include breakpoint(xxlarge){
      padding-left: 0px!important;
      padding-right: 0px !important;
    }
    .grid{

    }
    .field-item{
      margin-bottom: 35px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      cursor: pointer;

      .inner-fig{
        transition: 0.3s ease;
        position: relative;
        &::after{
          content: "";
          opacity: 0;
          transition: 0.3s ease;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='53px' height='53px' viewBox='0 0 53 53' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' fill='%23D8D8D8'%3E%3Crect id='Rectangle' x='19.5' y='0' width='14' height='53'%3E%3C/rect%3E%3Crect id='Rectangle' transform='translate(26.500000, 26.500000) rotate(90.000000) translate(-26.500000, -26.500000) ' x='19.5' y='0' width='14' height='53'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 53px;
          top: 0;left: 0;right: 0;bottom: 0;
          margin: auto;
          height: 53px;
          position: absolute;
        }
        &:hover{
          opacity: 0.6;
          &::after{
            opacity: 1;
          }
        }
      }

      @include breakpoint(mediumplus){
        margin-bottom: 70px;
      }
      @include breakpoint(large) {
        width: 50%;
      }
      @include breakpoint(xlarge){
        margin-bottom: 175px;
      }
      &:nth-of-type(odd){
        @include breakpoint(large) {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
      &:nth-of-type(even){
        @include breakpoint(large) {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
        }
      }
    }
  }
  .link-wrapper{
    @include wrapper-padding();
    @include breakpoint(xxlarge){
      padding: 0px!important;
    }
  }
  .inner-links{
    max-width: $max-container;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px white;
    border-bottom: solid 0px white;
    padding-top: 20px;
    margin-bottom: 50px;
    @include breakpoint(medium) {
      flex-direction: row;
    }
    @include breakpoint(large){
      margin-bottom: 135px;
    }
    >div{
      width: 100%;
      a{
        width: 100%;
      }
      @include breakpoint(mediumplus) {
        width: 33.333%;
      }
    }
    .right-link{
      border-left: solid 1px white;
      border-top: solid 1px white;
      border-bottom: solid 1px white;
      a{
        @include breakpoint(xlarge){
          text-align: left;
          padding-left: 63px;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1' fill='%23FFFFFF' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
          background-size: 52px 28px;
          background-position: left;
          background-repeat: no-repeat;
          background-position-x: calc(100% - 50px);

          &:hover{

            @include breakpoint(xlarge){
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1' fill='%23000000' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }
    }
    .left-link{
      border-top: solid 1px white;
      border-bottom: solid 1px white;
      a{
        @include breakpoint(xlarge){
          text-align: right;
          padding-right: 122px;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1' fill='%23FFFFFF' transform='translate(25.654418, 14.000000) scale(-1, 1) translate(-25.654418, -14.000000) ' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
          background-size: 52px 28px;
          background-position: left;
          background-repeat: no-repeat;
          background-position-x: 40px;

          &:hover{

            @include breakpoint(xlarge){
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1' fill='%23000000' transform='translate(25.654418, 14.000000) scale(-1, 1) translate(-25.654418, -14.000000) ' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
        @include breakpoint(xxlarge){
          background-position-x: 60px;
        }
      }
    }

    > a {
      width: 100%;
      border: solid 1px white;
      border-left: solid 0px white;
      border-right: solid 0px white;
      @include breakpoint(mediumplus) {
        width: 33.333%;
      }
      &:first-of-type {

          border-left: solid 1px white;

      }

    }
    a{
      font-weight: 300;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0.87px;
      line-height: 56px;
      text-align: center;
      display: block;

      text-transform: lowercase;
     // padding-left:55px ;
      transition: 0.3s ease;
      padding-top: 45px;
      padding-bottom: 45px;

      &:hover{
        background-color: white;
        color: black;
      }
    }


  }
}

.section-realisaties{
  h1{
    max-width: 875px!important;
  }
}
.section-afspraak{
  h1{
    max-width: 100%!important;
    font-size: 32px!important;
    @include breakpoint(mediumplus){
      font-size: 95px!important;
    }
  }
}

.webform-confirmation{
  padding: 0px!important;
  margin-top: 50px!important;
  margin-bottom: 50px!important;
}
