.paragraph--type--text-blocks {
  @include wrapper-padding();
  margin-bottom: 30px;
  @include breakpoint(mediumplus) {
    margin-bottom: 50px;
  }
  &>.field-name-field-text-blocks {
    @include grid-row();
    &>.field-items {
      @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
      &>div {
        @include flex-grid-column(1 of 1);
        margin-bottom: 30px;
        &:last-of-type {
          margin-bottom: 0;
        }
        @include breakpoint(medium) {
          min-width: calc(100% / 3);
          @include flex-grid-column();
          margin-bottom: 0;
        }
      }
    }
  }
  .paragraph--type--text-block {
    .field-name-field-text {
      p:last-of-type {
        margin-bottom: 0;
      }
    }
    .actions-wrapper {
      margin-top: 20px;
      .button {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.paragraph--type--text-image {
  @include wrapper-padding();
  margin-bottom: 35px;
  @include breakpoint(largemin) {
    margin-bottom: 90px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 190px;
  }
  .field-name-field-text{
    h3{
      font-weight: 800;
      font-size: 43px;
      color: #FFFFFF;
      letter-spacing: 1.64px;
      line-height: 56px;
      margin-bottom: 18px;
      max-width: 310px;
    }
    p{
      font-weight: 300;
      font-size: 15px;
      color: #757575;
      letter-spacing: 0;
      line-height: 25px;
    }

  }
  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
  }
  .content-wrapper {
    @include breakpoint(mediumplus) {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
    }
    &>.content {
      margin-bottom: 30px;
      @include breakpoint(mediumplus) {
        @include flex-grid-column(4 of 12);
        padding-left: 0px!important;
        padding-right: 0px!important;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @include breakpoint(mediumplus){
        padding-left: 34px!important;
      }
    }
    &>figure {

      @include breakpoint(mediumplus) {
        @include flex-grid-column(8 of 12);
        @include grid-column-offset(0 of 12);
        padding-left: 0px!important;
        padding-right: 0px!important;
      }
    }
  }

  .actions-wrapper {
    margin-top: 30px;
    a{
      border: solid 0px white;
      font-weight: 800;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.65px;
      line-height: 18px;
      text-transform: lowercase;
      transition: 0.3s ease;
      padding: 0px;
      &:hover{
        background-color: transparent;
        letter-spacing: 1.5px;
      }
    }
    .button {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.paragraph--type--form {
  @include wrapper-padding();
  .paragraph-content-wrapper {
    @include grid-row();
    .paragraph-content {
    }
  }
}

.paragraph--type--map-form {
  @include flex-grid-row();
  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-contact-data {
      background-color: $primary-color;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;
      @include breakpoint(medium){
        padding: 30px 15px;
      }
      @include breakpoint(large){
        padding: 30px 60px;
      }

      a {
        color: $white;
        transition: color .25s ease-out;
        &:hover, &:focus {
          color: darken($white, 20%);
        }
      }

      &>.field-items > .field-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
          margin-bottom: 0;
        }
        @include breakpoint(smallplus){
          flex-wrap: unset;
          flex-direction: row;
        }
        .main-contact-data, .field-name-field-branches {
          text-align: center;
          @include breakpoint(smallplus) {
            text-align: left;
            flex: 1 0 50%;
          }
        }
        .main-contact-data{
          @include breakpoint(smallplus){
            padding-right: 15px;
            text-align: left;
          }
        }
        .field-name-field-branches {
          @include breakpoint(smallplus){
            padding-left: 15px;
            text-align: left;
          }
        }
      }
    }
  }
  .form-field-wrapper {
    @include flex-grid-column(1 of 1);
    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
    }
    @include breakpoint(large) {
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.paragraph--type--video {
  @include grid-row();
}

.paragraph--type--homelinks{
  @include wrapper-padding();
  margin-bottom: 35px;
  @include breakpoint(largemin) {
    margin-bottom: 80px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 170px;
  }
  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
  }
  .field-name-field-links{
    .field-items{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: solid 1px white;
      border-bottom: solid 0px white;
      padding-top: 20px;
      @include breakpoint(medium){
        flex-direction: row;
      }
      .field-item{
        width: 100%;
        @include breakpoint(medium){
          width: 50%;
        }
        &:first-of-type{
          a{
            border-right: solid 1px white;
          }
        }
      }
    }
  }
  a{
    font-weight: 300;
    font-size: 38px;
    color: #FFFFFF;
    display: block;
    letter-spacing: 1.38px;
    line-height: 56px;
    border: solid 1px white;
    border-left: solid 0px white;
    border-right: solid 0px white;
    text-transform: lowercase;
    padding-left:25px ;
    transition: 0.3s ease;
    padding-top: 45px;
    padding-bottom: 45px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1' fill='%23FFFFFF' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
      background-size: 52px 28px;
      background-position: left;
      background-repeat: no-repeat;
      background-position-x: calc(100% - 50px);
@include breakpoint(large){
  padding-left:55px ;
}


    &:hover{
      background-color: white;
      color: black;

        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1' fill='%23000000' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");

    }
  }

}

.paragraph--type--banner{
  @include wrapper-padding();
  margin-bottom: 50px;
  @include breakpoint(largemin) {
    margin-bottom: 110px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 200px;
  }
  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
    background-color: #151515;
    padding-top: 35px;
    padding-bottom: 0px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1 Copy 2%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1-Copy-2' fill='%23FFFFFF' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
    background-position: calc(100% - 45px) calc(100% - 30px);
    background-repeat: no-repeat;
    background-size: 52px 28px;
    @include breakpoint(mediumplus){
      background-position: calc(100% - 95px) calc(100% - 30px);
    }
    &::after{
        content: "";
        height: 2px;
        width: 100%;
        background-color: #0F0F0F;
        position: absolute;
        top: auto;
        left: auto;
        right: 0;
        margin: auto;
        bottom: 100px;
      @include breakpoint(xlarge) {
        bottom: 90px;
        width: 50%;
      }
    }
    &::before{
      @include breakpoint(xlarge) {
        content: "";
        width: 2px;
        height: 100%;
        background-color: #0F0F0F;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
      }
    }
  @include breakpoint(mediumplus) {
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  }

  .field-name-field-title{
    max-width: 472px;
    .field-item{
      font-weight: 300;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 1.31px;
      line-height: 46px;
    }
  }
  .field-name-field-link{
    margin-top: 20px;
    .field-item{
      a{
        font-weight: 800;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.65px;
        text-transform: lowercase;
        line-height: 18px;
        width: 100%;
        display: block;
        transition: 0.3s ease;
        padding-top: 40px;
        padding-bottom: 40px;
        @include breakpoint(mediumplus){
          padding-top: 0px;
          padding-bottom: 0px;
        }
        &:hover{
          letter-spacing: 1.5px;
        }
        @include breakpoint(large){
          margin-left: calc(50% + 58px);
          width: 40%;
        }
      }
    }
  }
}

.paragraph--type--realisations-teaser{
  @include wrapper-padding();
  margin-bottom: 35px;
  @include breakpoint(largemin) {
    margin-bottom: 80px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 170px;
  }
  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
  }
  .content{
    @include breakpoint(large){
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    @include breakpoint(mediumplus){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    li{
      margin-bottom: 50px;
      @include breakpoint(large){
        margin-bottom: 0px;
      }
      article{
        &:hover{
          img{
            opacity: 1;
          }
        }
        figure{
          position: relative;
          img{
            opacity: 0.6;
            transition: 0.3s ease;
          }
          figcaption{
            position: absolute;
            bottom: 35px;
            left: 35px;
            h2{
              font-weight: 800;
              font-size: 24px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              line-height: 29px;
              span{
                font-weight: 800;
                font-size: 24px;
                color: #FFFFFF;
                letter-spacing: 0.87px;
                line-height: 29px;
                max-width: 240px;
                text-transform: uppercase;
              }
            }
            .field-name-field-location{
              .field-item{
                font-weight: 500;
                font-size: 16px;
                color: #000000;
                letter-spacing: 0.58px;
                line-height: 20px;
                text-transform: uppercase;
                background-color: white;
                display: inline-block;
                padding: 7px;
              }
            }
          }
        }
      }
    }
  }
  .views-element-container{
    @include breakpoint(large){
      width: 66.667%;
      max-width:820px;
    }
  }
  .field-name-field-text{
    @include breakpoint(large){
      width: 33.333%;
      padding-left: 33px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .field-items{
        max-width: 280px;
      }
    }
    h3{
      font-weight: 800;
      font-size: 45px;
      color: #FFFFFF;
      letter-spacing: 1.64px;
      line-height: 56px;
    }
    p{
      font-weight: 300;
      font-size: 15px;
      color: #757575;
      letter-spacing: 0;
      line-height: 25px;

    }
    a{
      font-weight: 800;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.65px;
      line-height: 18px;
      transition: 0.3S ease;
      margin-top: 50px;
      display: block;
      &:hover{
        letter-spacing: 1.5px;
      }
    }
  }


}

.paragraph--type--call-to-action{
  @include wrapper-padding();
  margin-bottom: 35px;
  @include breakpoint(largemin) {
    margin-bottom: 70px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 110px;
  }
  .logotop{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
  }
  .field-name-field-title{
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 45px;
    max-width: 700px;
.field-item{
  font-weight: 800;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 1.64px;
  text-align: center;
  line-height: 50px;
  @include breakpoint(medium){
    font-size: 45px;
    line-height: 56px;
  }
}
  }
  .field-name-field-text{
    margin: 0 auto;
    max-width: 480px;
    margin-bottom: 45px;
    p{
      font-weight: 300;
      font-size: 16px;
      color: #757575;
      letter-spacing: 0;
      text-align: center;
      line-height: 25px;
    }
  }
  .field-name-field-link{
    .field-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    a{
      font-weight: 800;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.65px;
      text-align: center;
      transition: 0.3s ease;
      text-transform: lowercase;
      line-height: 18px;
      &:hover{
        letter-spacing: 1.5px;
      }
    }
  }
}

.paragraph--type--partners{
  @include wrapper-padding();
  margin-bottom: 35px;
  @include breakpoint(largemin) {
    margin-bottom: 70px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 130px;
  }
  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
    padding-top: 20px;
    border: solid 1px white;
  }
  .content-wrapper{
    border-top: solid 1px white;
  }
  .field-name-field-logo-s{
    .field-items{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .field-item{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include breakpoint(large){
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }
    }
  }
}

.paragraph--type--intro {
  @include wrapper-padding();
  margin-bottom: 35px;
  @include breakpoint(largemin) {
    margin-bottom: 80px;
  }
  @include breakpoint(xlarge) {
    margin-bottom: 145px;
  }

  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
  }
  .content{
    @include breakpoint(large){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
.left-wrapper{
  @include breakpoint(large){
    width: 58.334%;
  }
}
  .img-wrapper{
    @include breakpoint(large){
      width: 33.334%;
      .field-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
  .field-name-field-title{
    margin-bottom: 35px;
    margin-top: 50px;
    @include breakpoint(mediumplus){
      margin-bottom: 70px;
    }
    .field-item{
      font-weight: 300;
      font-size: 45px;
      color: #FFFFFF;
      letter-spacing: 1.64px;
      line-height: 56px;
    }
  }
  .field-name-field-text{
    .field-item{
      max-width: 600px;
    }
    @include breakpoint(xlarge){
      padding-left: 110px;
      position: relative;

      &::before{
        content: "";
        height: 94px;
        width: 1px;
        background-color: white;
        position: absolute;
        left: 30px;
        top: 0;
      }
    }
    p{
      font-weight: 300;
      font-size: 16px;
      color: #757575;
      letter-spacing: 0;
      line-height: 25px;
  @include breakpoint(mediumplus){
    column-count: 2;
    column-gap: 50px;
  }
      a{
        font-weight: 800;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.65px;
        line-height: 18px;
      }
    }
  }
  .field-name-field-label{
    .field-item{
      font-weight: 500;
      font-style: italic;
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 56px;
    }
  }
  .field-name-field-signature{
    margin-top: 35px;
    @include breakpoint(mediumplus){
      margin-top: 80px;
    }
    .field-item{
      font-family: $p22;
      font-size: 45px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 56px;
    }
  }
  .field-name-field-image{
    margin-top: 50px;
    @include breakpoint(large){
      margin-top: 0;
    }
  }
  .field-name-field-signature{
    @include breakpoint(xlarge){
      padding-left: 110px;
    }
  }
  .quote-here{
    .field-name-field-text{
      p{
        @include breakpoint(mediumplus){
          column-count: 1;
          column-gap: 0px;
        }
      }
    }
    .img-wrapper{
      @include breakpoint(large){
        width: 33.333%;
        .field-item{
          justify-content: flex-start;
          margin-left: 13px;
        }
      }
    }
    .left-wrapper{
      @include breakpoint(large){
        width: 33.333%;
      }
    }
    .quote-wrapper{
      margin-top: 25px;
      background-color: black;
      @include breakpoint(large){
        margin-top: 0px;
        width: 33.333%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 385px;
        margin-right: -50px;
        .field-items{
          max-width: 235px;
          margin: 0 auto;
        }
      }
    }

  }
}

.paragraph--type--realisations{
  @include wrapper-padding();
  margin-bottom: 35px;
  background-color: #151515;
  padding-top: 35px;
  @include breakpoint(largemin) {
    margin-bottom: 60px;
    padding-top: 75px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
    margin-bottom: 85px;
  }

  .paragraph-content-wrapper {
    max-width: $max-container;
    margin: 0 auto;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-right: -24px;
    li{
      margin-bottom: 25px;
      @include breakpoint(mediumplus){
        margin-bottom: 50px;
      }
      margin-left: 23px;
      margin-right: 23px;
      article{
        &:hover{
          img{
            opacity: 1;
          }
        }
        figure{
          position: relative;
          img{
            opacity: 0.6;
            transition: 0.3s ease;
          }
          figcaption{
            position: absolute;
            bottom: 35px;
            left: 35px;
            h2{
              font-weight: 800;
              font-size: 24px;
              color: #FFFFFF;
              letter-spacing: 0.87px;
              line-height: 29px;
              span{
                font-weight: 800;
                font-size: 24px;
                color: #FFFFFF;
                letter-spacing: 0.87px;
                line-height: 29px;
                max-width: 240px;
                text-transform: uppercase;
              }
            }
            .field-name-field-location{
              .field-item{
                font-weight: 500;
                font-size: 16px;
                color: #000000;
                letter-spacing: 0.58px;
                line-height: 20px;
                text-transform: uppercase;
                background-color: white;
                display: inline-block;
                padding: 7px;
              }
            }
          }
        }
      }
    }
  }
}

.paragraph--type--contact{
    @include wrapper-padding();
    margin-bottom: 35px;
    @include breakpoint(largemin) {
      margin-bottom: 120px;
    }
    @include breakpoint(xlarge){
      margin-bottom: 225px;
    }
    .paragraph-content-wrapper {
      max-width: $max-container;
      margin: 0 auto;
    }
  .field-name-field-company-name{
    display: none;
  }
  .field-name-field-branches{
    margin-top: 50px;
    p,span,a,.field-item{
      font-weight: 300;
      font-size: 16px;
      transition: 0.3s ease;
      color: #757575;
      letter-spacing: 0;
      line-height: 25px;
    }
    a:hover{
      color: white;
    }
  }
  .content{
    @include breakpoint(large){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      .left-wrapper{
        width: 66.667%;

      }
      .right-wrapper{
        width: 33.333%;
        margin-right: -40px;
        .inner-right{
          max-width: 290px;
          margin: 0 auto;
        }
      }
    }
  }
  .right-wrapper{
    background-color: black;
    .field-name-field-text{
      margin-top: 35px;
      h3{
        font-weight: 500;
        font-style: italic;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 24px;
        margin-bottom: 25px;
      }
      p{
        font-weight: 300;
        font-size: 16px;
        color: #757575;
        letter-spacing: 0;
        line-height: 25px;
        margin-bottom: 5px!important;
        strong{
          font-weight: 500;
          margin-top: 40px;
          font-size: 16px;
          display: block;
          font-style: italic;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 24px;
        }
      }
    }
  }
}

.paragraph--type--form{
  h2{
    font-weight: 300;
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 0.81px;
    line-height: 34px;
    margin-bottom: 35px;
    max-width: 710px;
    @include breakpoint(mediumplus){
      margin-bottom: 70px;
    }
  }
.form-actions{
  input{
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.65px;
    line-height: 18px;
    background-color: transparent!important;
    border: solid 0px white;
    transition: 0.3s ease;
    text-transform: lowercase;
    &:hover{
      letter-spacing: 1.5px;
    }
  }
}
  .field-name-field-form{
    background-color: #1B1B1B;
    padding-top: 70px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 50px;
    position: relative;

    form{
      display: flex;
      flex-direction: column;
      @include breakpoint(xlarge){
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    &::after{
      @include breakpoint(xlarge) {
        content: "";
        height: 2px;
        width: 50%;
        background-color: #0F0F0F;
        position: absolute;
        top: auto;
        left: auto;
        right: 0;
        margin: auto;
        bottom: 90px;
      }
    }
    &::before{
      @include breakpoint(xlarge) {
        content: "";
        width: 2px;
        height: 100%;
        background-color: #0F0F0F;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
      }
    }
    @include breakpoint(mediumplus) {
      padding-top: 75px;
      padding-left: 60px;
      padding-right: 60px;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='52px' height='28px' viewBox='0 0 52 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1 Copy 2%3C/title%3E%3Cg id='MBK' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Fill-1-Copy-2' fill='%23FFFFFF' points='37.107 0 35.7793005 1.32769953 47.5126338 13.0610329 0.201835681 13.0610329 0.201835681 14.9389671 47.5126338 14.9389671 35.7793005 26.6723005 37.107 28 51.107 14.0018779'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
      background-position: calc(100% - 95px) calc(100% - 30px);
      background-repeat: no-repeat;
      background-size: 52px 28px;
    }
    @include breakpoint(mediumplus) {
      margin-bottom: 120px;
    }
  }

  label{
    font-weight: 600;
    font-size: 16px;
    color: #757575;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 12px;
  }

  input{
    background-color: #333333!important;
    color: white!important;
    border: solid 0px white;
  }

  .form-item{
    position: relative;
    max-width: 480px;
    &::after{
      content: "";
      width: calc(100% - 25px);
      position: absolute;
      bottom: 6px;
      height: 1px;
      display: block;
      background-color: black;
      left: 15px;
    }
  }
  .form-item-consent{
    margin-bottom: 35px;
    @include breakpoint(mediumplus){
      margin-bottom: 70px;
    }
    &::after{
      display: none!important;
    }
  }
  .captcha{
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .form-item-datetime{
    &::after{
      display: none!important;
    }

    .form-item-datetime-date{
      position: relative;
      display: block;
      &::after{
        content: "";
        width: calc(100% - 25px);
        position: absolute;
        bottom: 6px;
        height: 1px;
        display: block;
        background-color: black;
        left: 15px;
      }
    }
    .form-item-datetime-time{
      display: block;
      &::before{
        content: 'Tijdstip';
        font-weight: 600;
        font-size: 16px;
        color: #757575;
        letter-spacing: 0;
        line-height: 25px;
        margin-bottom: 12px;
        display: block;
      }
      &::after{

      }
    }
    .container-inline{
      > div:first-of-type{
        input{
          margin-bottom: 25px;
          @include breakpoint(large){
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.paragraph--type--video{
  @include wrapper-padding();
  @include breakpoint(xlarge){
    padding-left: 0px;
    padding-right: 0px;
  }
}
