figure.slides-wrapper {
  max-width: $max-container;
  margin: 0 auto;
  position: relative;
  @include breakpoint(xlarge){
    margin-top: -151Px;
  }
.field-name-field-images-2{
  .field-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    @include breakpoint(xlarge){
      justify-content: flex-end;
    }
    img{
      display: block;
      object-fit: contain;
      align-self: flex-start;
    }
    img:first-of-type{
      width: 60%;
      @include breakpoint(medium){
        width: auto;
      }
    }
    img:nth-of-type(2){
      margin-top: 40%;
      width: 40%;
      @include breakpoint(medium){
        width: auto;
        margin-top: 120px;
      }
      @include breakpoint(large){
        margin-top: 245px;
      }
    }
  }
}
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
      padding: 35px;
      margin: auto;
      z-index: 1;
      max-width: 100%;
      color: $white;
      height: auto;
    margin-top: -245px;
    @include breakpoint(medium){
      margin: auto;
      justify-content: center;
      position: absolute;
      top: 0; left: 0;bottom: 0;right: auto;
    }
    @include breakpoint(large) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    @include breakpoint(xlarge){
      width: 100%;
      padding: 0px;
    }


  }
}

.swiper-pagination {
  position: static;
  padding: 15px 0;
  @include breakpoint(medium) {
    padding: 30px 0;
  }

  &.swiper-pagination-bullets {

    .swiper-pagination-bullet {
      width: 13px; height: 13px;
      background-color: $dark-gray;
      border: 2px solid $dark-gray;
      opacity: 1;
      margin: auto 4px;
      &.swiper-pagination-bullet-active {
        border-color: $medium-gray;
        background-color: transparent;
      }
    }
  }
}


